*.o
*.a
*.log
*~

autom4te.cache
config.status
configure

/libfetch/ftperr.h
/libfetch/httperr.h

/libnbcompat/Makefile
/libnbcompat/nbcompat/config.h*
/libnbcompat/nbcompat/nbconfig.h

/source/config.h*
/source/fetch
/source/Makefile

