autom4te.cache
build-aux
.deps

aclocal.m4
config.status
configure
Makefile
Makefile.in
stamp-h1

*.o
*.a
*.log
*~

source/fetch
source/config.h
source/config.h.in
source/libfetch/ftperr.h
source/libfetch/httperr.h
source/libnbcompat/nbcompat/config.h
source/libnbcompat/nbcompat/config.h.in
source/libnbcompat/nbcompat/nbconfig.h

