*.o
*.a
*.log
*~

config.guess
config.status
config.sub
configure
install-sh

/libfetch/ftperr.h
/libfetch/httperr.h

/libnbcompat/Makefile
/libnbcompat/nbcompat/config.h*
/libnbcompat/nbcompat/nbconfig.h

/source/config.h*
/source/fetch
/source/Makefile

